
body {
	background: linear-gradient(to bottom, rgba(204,204,204,1) 0%,rgba(255,255,255,1) 10%,rgba(255,255,255,1) 90%,rgba(204,204,204,1) 100%);
}

.input-area {
	margin: 30px auto auto;
	padding: 0;
}

.info-area {
	background: #fff;
	margin: 30px auto auto;
	padding: 30px;
	border: solid 1px #ccc;
	box-shadow: 5px 5px 10px rgba(0,0,0,.090);
	border-radius: 5px;
}

.avatar {
	width: 160px;
}